/*
@font-face {
  font-family: MADETOMMY;
  font-style: normal;
  font-weight: bold;

  src: local('MADETOMMY'),
    url(./assets/fonts/MADE_TOMMY_Bold_PERSONAL_USE.otf) format('opentype')
      url(./assets/fonts/MADE_TOMMY_Medium_PERSONAL_USE.otf) format('opentype')
      url(./assets/fonts/MADE_TOMMY_Thin_PERSONAL_USE.otf) format('opentype');
}
*/

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App banner */

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  margin: 0;
  margin-bottom: 50px;

  padding: 8px;

  letter-spacing: 1.2px;
  font-family: 'Made Tommy Thin';
  font-size: 15px;

  border-bottom: 2px solid orangered;
  color: orangered;
}
